<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Calculator</title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <h1>Age Calculator</h1>
    <div class="cotainer">
        <div>
            <form id=" to-do" method="post" action="/calculate">
                <label class="label" for="DoB">Your date of birth: </label>
                <input class="input" type="datetime-local" name="DoB">
                <button class="btn" type="submit">Calculate</button>
            </form>
        </div>
    </div>
</body>

</html>