<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Calculator</title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <h1>Age Calculator</h1>
    <div class="container">
        <div>
            <form method="post" action="/calculate">
                <label class="label" for="DoB">Your date of birth: </label>
                <input class="input" type="date" name="DoB">
                <button class="btn" type="submit">Calculate</button>
            </form>
            <% if (locals.clientAge) {%>
                <p class="age">You are <%= clientAge %> years old.</p>
                <% } %>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(".btn").click(() => {
            $(".btn").fadeIn(10).fadeOut(10).fadeIn(10)
        });
    </script>
</body>

</html>